.article-2 {
    width: 100%;
    min-height: 92vh;

    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 2px dotted var(--black);
}

.article-2__arrowic {
    font-size: 50px;

    color: var(--black);

    opacity: 0.7;

    padding-bottom: 100px;
}

.article-2__frame {
    width: 700px;
    height: 450px;
    padding: 20px;

    display: flex;
    align-items: center;
    position: relative;

    border: 2px solid var(--black);
    border-radius: 10px;
}

.article-2__title {
    position: absolute;
}

.article-2__title h1 {
    font-size: 40px;
    font-weight: 700;

    letter-spacing: 2px;

    color: var(--black);
}

.profile__infos {
    padding-top: 5px;

    color: var(--black);
}

.profile__infos p {
    padding-top: 4px;
    font-weight: 400;
}

.profile__infos p span {
    font-weight: 700;
}

.profile__box {
    width: 300px;
    height: 400px;

    position: absolute;

    transform-style: preserve-3d;
    perspective: 1000px;
}

.profile__image {
    position: absolute;

    box-shadow: 0px 0px 5px black;
    
    transition: 1s;

    border-radius: 5px;
}

.profile__info {
    width: 300px;
    height: 400px;

    padding: 30px;
    
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    backface-visibility: hidden;
    transition: 1s;

    border-radius: 5px;

    background-color: var(--white);
    color: var(--black);

    transform: rotateY(180deg);
}

.profile__box:hover .profile__info {
    transform: rotateY(0deg);
}

.profile__box:hover .profile__image {
    transform: rotateY(-180deg);
}

@media (min-width: 966px) {
    .article-2__title {
        top: 3%;
    }

    .profile__box {
        right: 3%;
    }
}

@media (max-width: 966px) {
    .article-2 {
        padding: 40px;
    }

    .article-2__arrowic {
        padding-bottom: 40px;
    }
    
    .article-2__frame {
        width: 350px;
        height: 590px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article-2__title {
        top: 3%;
    }

    .profile__box {
        bottom: 5%;
    }
}