.main {
    width: 100%;
    min-height: 100vh;

    position: relative;

    overflow: hidden;
}

/*
.rotate__object-1 {
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;

    z-index: 2;

    transition: transform 3s,
                opacity 1s;
}

.rotate__object-1.active {
    transform: rotate(-360deg);
    z-index: 1;
    opacity: 0;
}

.rotate__object-2 {
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    z-index: 1;

    transition: transform 3s,
                opacity 1s;
}

.rotate__object-2.active {
    transform: rotate(360deg);
    z-index: 2;
    opacity: 1;
}

.image__moon {
    width: 240px;
    height: auto;

    position: absolute;
    left: 50%;
    bottom: 75%;

    transform: translateX(-50%);

    opacity: 0;

    object-fit: scale-down;

    z-index: 1;

    transition: top 3s ease-out,
                opacity 3s ease-out,
                z-index 2s ease-out,
                width 1s ease-out,
                transform 5s ease-out;
}

.image__moon.active {
    opacity: 1;
    z-index: 4;
}

.image__sun {
    width: 240px;
    height: auto;

    position: absolute;
    left: 50%;
    bottom: 75%;

    transform: translateX(-50%);

    opacity: 1;

    object-fit: scale-down;

    z-index: 5;

    transition: bottom 3s ease-out,
                opacity 3s ease-out,
                z-index 1s ease-out,
                width 1s ease-out,
                transform 3s ease-out;
}

.image__sun.active {
    opacity: 0;
}

*/

.image__moon {
    width: 240px;
    height: auto;

    position: absolute;
    left: 50%;
    bottom: 20%;

    transform: translateX(-50%);

    opacity: 0;

    object-fit: scale-down;

    z-index: 1;

    transition: bottom 3s ease-out,
                opacity 3s ease-out,
                z-index 3s ease-out,
                width 1s ease-out;
}

.image__moon.active {
    bottom: 73%;
    opacity: 1;
    z-index: 4;
}

.image__moon.active.touch {
    bottom: 60%;
}

.image__sun {
    width: 240px;
    height: auto;

    position: absolute;
    left: 50%;
    bottom: 73%;

    transform: translateX(-50%);

    opacity: 1;

    object-fit: scale-down;

    z-index: 2;

    transition: bottom 3s ease-out,
                opacity 3s ease-out,
                z-index 3s ease-out,
                width 1s ease-out;
}

.image__sun.active {
    bottom: 20%;
    opacity: 0;
}

.gif__seagull {
    position: absolute;
    top: 20%;
    left: -50%;

    opacity: 1;

    z-index: 5;

    mix-blend-mode: screen;

    transition: 3s;

    overflow: hidden;
}

.gif__seagull.fly {
    position: absolute;
    top: 20%;
    left: -50%;

    opacity: 1;

    z-index: 5;

    mix-blend-mode: screen;

    transition: 3s;

    overflow: hidden;
    animation: seagullOpacity 18s linear infinite;
}

.gif__seagull.active {
    opacity: 0;
}

@keyframes seagullOpacity {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }

    30% {
        opacity: 0.2;
        transform: translateY(-70px) scale(0.5);
    }

    70% {
        opacity: 0.6;
        left: 50%;
        transform: translateY(70px);
    }

    100% {
        opacity: 0;
        left: 100%;
        transform: translateY(-20px);
    }
}

.main__article {
    width: 100%;
    min-height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image__main {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;

    object-fit: cover;
    transition: 3s;
}

.image__mask-light {
    width: 100%;
    height: 100%;

    position: absolute;
    top: -1px;

    opacity: 1;

    z-index: 3;

    user-select: none;

    object-fit: cover;

    mix-blend-mode: normal;
    transition: 3s;
}

.image__mask-light.active {
    z-index: 2;
    opacity: 0;
}

.image__mask-light.index {
    z-index: 2;
}

.image__mask-top-dark {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 0;

    z-index: 1;

    user-select: none;

    object-fit: cover;

    mix-blend-mode: normal;
    transition: 3s;
}

.image__mask-bottom-dark {
    width: 100%;
    height: 100%;
    top: -1px;

    position: absolute;

    opacity: 0;

    z-index: 3;

    user-select: none;

    object-fit: cover;

    mix-blend-mode: normal;

    transition: 3s;
}

.image__mask-top-dark.active {
    opacity: 1;
}

.image__mask-bottom-dark.active {
    opacity: 1;
}

.image__mask-bottom-dark.index {
    z-index: 2;
}


.main__title {
    width: 100%;
    
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;

    opacity: 0;

    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    text-align: center;

    color: white;

    text-shadow: 0px 0px 8px var(--shine);

    border: none;
    background-color: rgba(0, 0, 0, 0.0);

    z-index: 1;

    transition: bottom 2s ease-in-out,
                opacity 2s ease-in-out,
                text-shadow 2s ease-in-out;
}

.main__title.active {
    opacity: 1;
    bottom: 50%;
}

.main__time {
    width: 100%;
    
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 4px;

    opacity: 0;

    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    display: flex;
    justify-content: center;

    color: white;

    text-shadow: 0px 0px 8px var(--shine);

    z-index: 1;

    transition: bottom 2s ease-in-out,
                opacity 2s ease-in-out,
                text-shadow 2s ease-in-out;
}

.main__time span {
    font-family: 'LAB디지털';
    font-weight: 400;

    letter-spacing: 5px;
}

.time__type {
    width: 100%;
    margin-top: 26px;
    margin-right: 5px;
    text-align: end;

    line-height: 100px;
    font-size: 25px;
}

.time__second {
    width: 100%;
    margin-top: 26px;
    margin-left: 4px;
    text-align: start;

    line-height: 100px;
    font-size: 25px;

    opacity: 0;
}

.time__second.active {
    opacity: 1;
}

.main__time.active {
    opacity: 1;
    bottom: 48.5%;
}

.time__middle {
    opacity: 0;
}

.time__middle.active {
    opacity: 1;
}

.main__title:focus {
    outline: none;
}

.main__title::placeholder {
    font-size: 2vw;

    color: rgb(238, 246, 255);
}

.sci {
    padding-left: 1%;
    padding-bottom: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;

    z-index: 3;
    left: 0;
    bottom: 0;

    list-style: none;
}

.sci li {
    margin-top: 10px;

    position: relative;
}

.sci li:nth-child(1) i {
    color: #111;
}

.sci li:nth-child(2) i {
    color: #3b5999;
}

.sci li:nth-child(3) i {
    color: #e4405f;
}

.sci li div {
    width: 25px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 0;
    left: 0;

    background-color: white;

    border-radius: 3px;

    box-shadow: 1px 1px 5px black;
}

.sci li div i {
    font-size: 30px;

    position: relative;

    cursor: pointer;
}

.link__typing {
    font-size: 10px;
    font-weight: 400;
    line-height: 30px;

    text-decoration: none;

    padding-left: 5px;

    position: absolute;
    bottom:0;
    left: 30px;

    text-transform: uppercase;

    color: var(--black);
}

.main__copyright {
    font-weight: 400;

    padding-right: 1%;
    padding-bottom: 1%;

    position: absolute;

    right: 0;
    bottom: 0;

    z-index: 3;

    color: var(--black);
}

.content__arrow {
    color: var(--black);

    position: absolute;
    left: 50%;
    bottom: 2%;

    transform: translateX(-50%);

    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: color 3s;

    animation: arrowAnimation 1s ease-in-out infinite;

    cursor: pointer;
}

.content__arrow span {
    font-size: 10px;
}

.content__arrow i {
    font-size: 30px;
}


@keyframes arrowAnimation {
    0% {
        transform: translate(-50%, 5px);
    }

    50% {
        transform: translate(-50%, 0px);
    }

    100% {
        transform: translate(-50%, 5px);
    }
}

@media (max-width: 966px) {
    .main__title {
        font-size: 10vw;
    }

    .image__moon {
        width: 225px;
        height: auto;
    }

    .image__sun {
        width: 225px;
        height: auto;
    }

    .main__copyright {
        display: none;
    }

    .content__arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    .main__title {
        font-size: 9vw;

        margin-bottom: 4px;
    }

    .image__moon {
        width: 200px;
        height: auto;
    }

    .image__sun {
        width: 200px;
        height: auto;
    }

    .content__arrow {
        display: none;
    }
}

@media (min-width: 1920px) {
    .image__moon.active {
        bottom: 75%;
    }

    .image__sun {
        bottom: 75%;
    }
}

/* Shooting Stars */

.shooting-star {
    width: 100%;
    height: 100vh;
    
    top: 0;
    left: 0;
    position: absolute;

    opacity: 0;

    transition: opacity 7s;

    overflow-x: hidden;
    overflow-y: hidden;
}

.shooting-star.active {
    opacity: 1;
}

.shooting-star span {
    position: absolute;
    top: -10%;
    left: 80%;

    z-index: 1;

    width: 5px;
    height: 5px;

    opacity: 0;

    border-radius: 50%;

    background-color: #fff;

    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.1),
                0px 0px 0px 4px rgba(255, 255, 255, 0.1),
                0px 0px 15px rgba(255, 255, 255, 1);

    transition: opacity 7s;
}

.shooting-star.active span {
    opacity: 1;
    animation: animateStar 7s linear infinite;
}

.shooting-star span::before {
    content: '';

    width: 300px;
    height: 1px;

    opacity: 0;

    top: -10%;
    left: 100%;

    position: absolute;

    z-index: 1;

    opacity: 0;

    transform: translateY(100%);

    background: linear-gradient(90deg, #fff, transparent);

    transition: opacity 7s;
}

.shooting-star.active span::before {
    opacity: 0.2;
}

.shooting-star span:nth-child(2) {
    left: 50%;
    animation-delay: 7s;
    animation-duration: 4s;
}

.shooting-star span:nth-child(3) {
    left: 30%;
    animation-delay: 7s;
    animation-duration: 4.5s;
}

.shooting-star span:nth-child(4) {
    left: 100%;
    animation-delay: 7s;
    animation-duration: 3.5s;
}

.shooting-star span:nth-child(5) {
    left: 65%;
    animation-delay: 7s;
    animation-duration: 9s;
}

.shooting-star span:nth-child(6) {
    left: 120%;
    animation-delay: 5s;
    animation-duration: 11s;
}

.shooting-star span:nth-child(7) {
    left: 160%;
    animation-delay: 5s;
    animation-duration: 11s;
}

.shooting-star span:nth-child(8) {
    left: 180%;
    animation-delay: 5s;
    animation-duration: 2s;
}

@keyframes animateStar {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    30% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.2;
    }

    100% {
        transform: rotate(315deg) translateX(-98vh);
        opacity: 0;
    }
}