@import "header.css";
@import "main.css";
@import "content.css";
@import "submenu.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --black: #222;
    --white: #fff;
}

.dark {
    --black: #fff;
    --white: #222;
}

.dark .image__mask {
    filter: invert(1);
    mix-blend-mode: multiply;
}