@import "header.css";
@import "main.css";
@import "submenu.css";
@import "section.css";
@import "footer.css";
@import "project.css";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Work+Sans:wght@400;600&display=swap');
@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Work Sans', sans-serif;
}

body {
    background: var(--white);
    -ms-overflow-style: none;
    scrollbar-width: none;

    transition: background-color 3s;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --black: #222;
    --white: #fff;
    --shine: rgba(0, 0, 0, 0.2);
}

.dark {
    --black: #fff;
    --white: #222;
    --shine: rgba(255, 245, 185, 0.8);
}

.dark .image__mask {
    filter: invert(1);
    mix-blend-mode: multiply;
}