.toggle__submenu {
    width: 100%;
    height: 100%;

    position: fixed;

    left: -100%;

    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 5;

    background: var(--white);

    transition: all 0.7s;
}

.toggle__submenu ul {
    width: 100%;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.toggle__submenu ul li {
    width: 100%;

    font-size: 2em;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 5px;

    padding: 10px 25px;

    color: var(--black);

    text-transform: uppercase;

    transition: 0.5s;
}

.toggle__submenu ul li::before {
    content: '';

    width: 14px;
    height: 14px;

    margin-right: 11px;
    transform: rotate(45deg);

    transition: 1s;
}

.toggle__submenu ul li a {
    width: 188.86px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    transition: padding 0.8s;
}


.toggle__submenu ul li:hover {
    background-color: var(--black);
    color: var(--white);
}

.toggle__submenu ul li:hover::before {
    width: 11px;
    height: 11px;

    border-top: 3px solid var(--white);
    border-right: 3px solid var(--white);
}

.toggle__submenu ul li:hover a {
    padding-left: 20px;
}


.toggle__submenu.active {
    left: 0;
    opacity: 1;
}

.submenu__sci {
    padding-top: 20px;

    position: absolute;
    left: 5px;
    bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu__sci li {
    list-style: none;
}

.submenu__sci li a i {
    font-size: 30px;

    padding-right: 5px;

    color: var(--black);
}

@media (min-width: 966px) {
    .toggle__submenu {
        opacity: 0 !important;
    }
}