.register__title__frame {
    width: 100%;
    height: 80px;

    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register__page__title {
    font-size: 45px;
}

.register__frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__width {
    width: 1200px;
    height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__form input {
    width: 380px;
    height: 45px;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c9c9c9;
}

.register__form p {
    margin: 15px 0px 5px 0px;
}

.register__form input[type=submit] {
    height: 55px;
    font-size: 18px;
    margin-top: 30px;

    border: none;
    border-radius: 28px;

    background-color: var(--main-color);
    color: white;
}